<h1>
Hi, <%= @name %><br>
</h1>
<h2><%= @greetings_text %></h2>
<% @files.each do |file| %>
<%= image_tag attachments[file].url %>
<br>
<% end %>
<div style="font-family: 'Arial'; font-size: 11">
Best Regards,
</div>

<br>
<br>
<div style="font-family: 'Arial'; font-size: 11">
<div style="font-family: 'Arial Black';  ">Staff Centre Group of Companies</div>
<div><a style="font-weight: bold">T</a>  <a>+380 48 737 8500</a> </div>
<div><a style="font-weight: bold">F</a>  <a>+380 48 737 8050</a> </div>
<div><a style="font-weight: bold">E</a>  <a>application@staff.od.ua</a>
<div><a style="font-weight: bold">W</a>  <a>www.staff-centre.com</a>
</div>
