<tr>
<!--
  <td >
    <%#= holiday.id %>
  </td>
 -->
  <td>
    <%= holiday.name %>
  </td>
  <td >
    <%= holiday.type.name %>
  </td>
<!--  <td class="s_e_d">-->
    <%#= link_to 'show', holiday_path(holiday) %>
<!--  </td>-->
  <td class="s_e_d">
    <%= link_to 'edit', edit_holiday_path(holiday.id) %>
  </td>
  <td class="s_e_d">
    <%= link_to 'delete', holiday_path(holiday),
                method: :delete, data: { confirm: 'Are you sure' } %>
  </td>
</tr>
