<h1> Edit Holiday</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back to all Holidays', holidays_path %>
</p>
<br>
 <%= render 'dates_holidays/list_dates_holidays', holiday: @holiday  %>
 <%= render 'companies_holidays/list_companies_holidays', holiday: @holiday  %>

