<h3> Holidays </h3>
<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

<%= link_to 'New Holiday', new_holiday_path %>

<table class="container">
  <% if @holidays.present? %>
    <table class="table table-bordered">
      <thead class="thead-light" align="center">
       <tr>
         <th > N </th>
         <th > Holiday </th>
         <th > Type </th>
      </tr>
     </thead>
        <%= render @holidays %>
    </table>
  <% else %>
    <p>
      <%= 'Empty list' %>
    </p>
  <% end %>
</table>

