  <div>
    <h1> Holidays </h1>

    <p> <%= link_to 'New Holiday', new_holiday_path %> </p>

      <% if @holidays.present? %>
        <table>
          <thead>
            <tr>
              <th> N record</th>
              <th> Holiday name </th>
              <th> Type </th>
            </tr>
          </thead>
          <%= render @holidays %>
        </table>
      <% else %>
        <p>
          <%= 'Empty list' %>
        </p>
      <% end %>
    <br>
  </div>

