  <div>
    <h1>Links: Company Email</h1>
<!--     <div class="digg_pagination">
      <%#= will_paginate @companies_emails, :container => false %>
    </div>
 -->
    <%= render 'header_companies_emails_list' %>
    <br>
  </div>
  <br>
