<h1> Edit Link Email - Card Text</h1>
  <%= render 'form' %>
<p>
  <%= link_to 'Back to All links Email-Cardtext', email_email_texts_path(@email_text.email_id) %>
</p><br>
<!-- <p>
  <%#= link_to 'Back to all Emails', emails_path %>
</p>
 -->
