<table>
  <thead class="thead-light" align="center">
    <tr>
      <th>
        <%= 'Holiday' %>
      </th>
      <th>
        <%= 'Calculated' %>
      </th>
      <th> N </th>
    </tr>
  </thead>
  <%#= render 'holidays', f: :f %>
<!--   <tbody>
        <%#= %>
    <tr>
      <td>
        <%#= %>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
        <%#= %>

  </tbody>
 -->
</table>



<!-- <div>
  <%#= form.label :name, "Holiday:" %>
  <%#= form.text_field :name %>
  <%#= form.label :calc, "Calculated date:" %>
  <%#= form.check_box :calc %>
</div>
 -->
