<h2> Type Show </h2>
<p>
  id: <%= @type.id %>
</p>

<p>
  Name type:
  <%= @type.name %>
</p>

<%= link_to 'Edit type', edit_type_path(@type) %>

<br>
<p>
  <%= link_to 'Back to all types', types_path %>
</p>
