      <% if @companies_holidays.present? %>
        <table>
          <thead>
            <tr>
              <th> N record</th>
              <th> Company </th>
              <th> Holiday </th>
              <th> Type </th>
            </tr>
          </thead>
          <%= render @companies_holidays %>
        </table>
      <% else %>
        <p>
          <%= 'Empty list' %>
        </p>
      <% end %>
