    <p> <%= link_to 'New Company Holiday', new_holiday_companies_holiday %> </p>
      <%= render 'header_companies_holidays_list' %>
    <br>
  <br>
<p>
  <%= link_to 'Back to all Companies', companies_path %>
</p>
