  <p> <%= link_to 'New Company Holiday', new_holiday_companies_holiday_path(holiday) %> </p>

  <%= render 'companies_holidays/header_companies_holidays_list', companies_holidays: @companies_holidays %>

  <p>
    <%= link_to 'Back to all Companies', companies_path %>
  </p>
