<h1> Edit Company Holiday</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back to all companies holiday', companies_holiday_path %>
</p><br>
<p>
  <%= link_to 'Back to all Holidays', holidays_path %>
</p>
