<!-- <p> <%#= link_to 'New Date Holiday', new_holiday_dates_holiday_path(@dates_holidays) %> </p> -->
<p> <%= link_to 'New Date Holiday', new_holiday_dates_holiday_path(holiday) %> </p>
<% @dates_holidays = DatesHoliday.where(holiday_id: @holiday.id) %>
<% if @dates_holidays.present? %>
  <table class="table table-bordered">
    <thead class="thead-light" align="center">
      <tr>
        <th> N </th>
        <th> Day / Month </th>
        <th> Holiday </th>
        <th> Companies </th>
        <th> People </th>
      </tr>
    </thead>
    <%= render @dates_holidays %>
  </table>
<% else %>
  <p>
    <%= 'Empty list' %>
  </p>
<% end %>
