<h1> Edit Date Holiday</h1>
<%= render 'form' %>
<br>
<p>
  <%= link_to 'Back to List Dates holidays', dates_holidays_path %>
</p>
 <!-- <br>
 <p>
  <%#= link_to 'Back to all Holidays', holidays_path %>
</p>
 -->
