  <div>
    <h1>Dates Holidays</h1>
    <p>
      <%#= unless @holiday.nil? do  %>
        <%= link_to 'New Date Holiday', new_dates_holiday_path %>
      <%# end %>
    </p>
      <% if @dates_holidays.present? %>
        <table class="table table-bordered">
          <thead class="thead-light" align="center">
            <tr>
              <th> N </th>
              <th> Day / Month </th>
              <th> Holiday </th>
              <th> Companies </th>
              <th> People </th>
            </tr>
          </thead>
          <%= render @dates_holidays %>
        </table>
      <% else %>
        <p>
          <%= 'Empty list' %>
        </p>
      <% end %>
    <br>
  </div>
  <br>
<!-- <p>
  <%#= link_to 'Back to all Holidays', holidays_path %>
</p>
 -->
