<h1>Date Holiday New </h1>
  <%= render 'form' %>
<br>
<p>
  <%= link_to 'Back to all Dates holidays', holiday_dates_holidays_path(@dates_holiday.holiday_id) %>
  <br>
  <%= link_to 'Back to all Holidays', holidays_path %>
</p>
