<h1> New Link: Email - PostCard </h1>
  <%= render 'form' %>
<br>
<p>
  <%# if params[:email_id].nil? %>
  <%= link_to 'Back to Email ', edit_email_path(@email_card.email_id) %>
  <br>
  <%= link_to 'Back to All Emails - PostCards', email_cards_path %>
  <%#= link_to 'Back to All Emails - PostCards', email_email_cards_path(params[:email_id]) %>
</p>
