<h1> New Link: Email - PostCard </h1>
  <%= render 'form' %>
<br>
<p>
  <%= link_to "Back to Email for :  #{Email.where(id: params[:email_id]).first.name}" , edit_email_path(params[:email_id]) %>
  <br>
  <%= link_to 'Back to All Emails - PostCards', email_cards_path %>
</p>
