  <p> <%= link_to 'New Country Holiday', new_holiday_countries_holiday_path(holiday) %> </p>

  <%= render 'countries_holidays/header_countries_holidays_list', countries_holidays: @countries_holidays %>

  <p>
    <%= link_to 'Back to all Countries', countries_path %>
  </p>
