<h1> Edit Country Holiday</h1>
  <%= render 'form' %>
<p>
  <%= link_to 'Back to all countries holiday', countries_holidays_path %>
</p><br>
<!-- <p>
  <%#= link_to 'Back to all Holidays', holidays_path %>
</p>
 -->
