  <div>
    <h1>Countries Holidays</h1>

    <p> <%= link_to 'New Country - Holiday link', new_countries_holiday_path %> </p>
      <%= render 'header_countries_holidays_list' %>
    <br>
  </div>
  <br>
<!-- <p>
  <%#= link_to 'Back to all Holidays', holidays_path %>
</p>
 -->
