<h1>Country Holiday New </h1>
  <%= render 'form' %>
<br>
<p>
 <%#= link_to 'Back to all Countries holidays', holiday_countries_holidays_path(@countries_holiday.holiday_id) %>
 <%= link_to 'Back to all Countries holidays', countries_holidays_path %>
</p>
