// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu_com {
    margin: 20px 0;
    clear: both;
    font-size: 12px;
}

ul {
    list-style: none;
    display: block;
}

ul li {
    list-style: none;
    float: left;
    display: block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    background: #055788 url(menu.png) repeat-x;
    padding: 7px;
    border: 1px #2E5C09 solid;
}

ul li ul{
    display: none;
    float: none;
    margin: 5px 0 0 0;
    padding: 0;
}

ul li ul li{
    display: block;
    float: none;
}

ul li ul li a{
    background:  #000;
    display: block;
    padding: 7px;
    border: 1px #2E5C09 solid;
}

ul li ul li a:hover{
    display: block;
    background: #63B024;
}
