<h1> Edit Email</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back to all Emails', emails_path %>
</p>
<br>
 <%#= render 'list_email_cards', email: @email  %>
 <%#= render 'list_email_texts', email: @email  %>

