<h2> Email Show </h2>
<p>
  id: <%= @email.id %>
</p>

<p>
  Name :
  <%= @email.name %>
</p>

<%= link_to 'Edit email', edit_email_path(@email) %>

<br>
<!-- <p>
  <%#= link_to 'Back to all emails', emails_path %>
</p>
 -->
