      <% if @companies_people.present? %>
        <table>
          <thead>
            <tr>
              <th> N rec</th>
              <th> Company </th>
              <th> Person </th>
            </tr>
          </thead>
          <%= render @companies_people %>
        </table>
      <% else %>
        <p>
          <%= 'Empty list' %>
        </p>
      <% end %>
