  <div>
    <h1>Companies People</h1>

    <p>
      <%= link_to 'New Company Person', new_companies_person_path %>
    </p>

    <%= render 'header_companies_people_list' %>
    <br>

  </div>
  <br>
<p>
  <%= link_to 'Back to all People', people_path %>
</p>

