<div>
  <table class="table">
    <tr>
      <td>
        <div class="celebArea">
          <div class="dateArea">
            <div class="numbers">
              <%= Date.today.day %>
            </div>
            <div class="month">
              <%=  Date.today.strftime("%B") %>
            </div>
          </div>
        </div>
      </td>

      <td>
        <%= render 'layouts/birthdays' %>
      </td>
      <td>
        <%= render 'layouts/holidays' %>
      </td>
    </tr>
  </table>
</div>
